[package]
name = "narrow-derive"
version= "0.3.4"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description.workspace = true
readme.workspace = true
repository.workspace = true
documentation.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[features]
default = []
arrow-rs = []

[lib]
proc-macro = true

[dependencies]
once_cell = "1.18.0"
proc-macro-crate = "2.0.0"
proc-macro2 = "1.0.75"
quote = "1.0.31"
syn = { version = "2.0.43", features = ["visit-mut", "full"] }

[dev-dependencies]
macrotest = "1.0.9"
