[workspace.package]
authors = ["Matthijs Brobbel <m1brobbel@gmail.com>"]
edition = "2021"
rust-version = "1.70.0"
description = "An implementation of Apache Arrow"
readme = "README.md"
repository = "https://github.com/mbrobbel/narrow"
documentation = "http://docs.rs/narrow/"
license = "Apache-2.0 OR MIT"
keywords = ["Arrow"]
categories = ["data-structures"]

[workspace]
members = ["narrow-derive"]

[package]
name = "narrow"
version = "0.5.0"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description.workspace = true
readme.workspace = true
repository.workspace = true
documentation.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = []
arrow-rs = [
    "dep:arrow-array",
    "dep:arrow-buffer",
    "dep:arrow-schema",
    "narrow-derive?/arrow-rs",
]
derive = ["dep:narrow-derive"]
uuid = ["dep:uuid"]

[dependencies]
arrow-array = { version = "50.0.0", optional = true }
arrow-buffer = { version = "50.0.0", optional = true }
arrow-schema = { version = "50.0.0", optional = true }
narrow-derive = { path = "narrow-derive", version = "^0.5.0", optional = true }
uuid = { version = "1.7.0", optional = true }

[dev-dependencies]
arrow-cast = { version = "50.0.0", default-features = false, features = [
    "prettyprint",
] }
bytes = "1.5.0"
criterion = { version = "0.5.1", default-features = false }
rand = { version = "0.8.5", default-features = false, features = ["small_rng"] }
parquet = { version = "50.0.0", default-features = false, features = ["arrow"] }
uuid = "1.7.0"

[profile.bench]
lto = true
codegen-units = 1

[[bench]]
name = "narrow"
harness = false

[[example]]
name = "parquet"
required-features = ["arrow-rs", "derive", "uuid"]
