name: Bench

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: write
  contents: read

env:
  SCCACHE_GHA_ENABLED: true
  RUSTC_WRAPPER: sccache

jobs:
  run:
    name: Bench
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        id: rust-toolchain
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: cargo-
      - uses: mozilla-actions/sccache-action@v0.0.9
      - run: cargo bench --bench narrow --all-features -- --output-format=bencher | tee output.txt
      - uses: actions/upload-artifact@v5
        with:
          name: benchmark-results
          path: output.txt

  deploy:
    name: Deploy
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04-arm
    needs: run
    environment:
      name: benchmark-results
      url: https://mbrobbel.github.io/narrow-benchmark-results/
    permissions:
      deployments: write
      contents: write
    steps:
      - uses: actions/download-artifact@v6.0.0
        with:
          name: benchmark-results
      - uses: benchmark-action/github-action-benchmark@v1
        with:
          name: narrow
          tool: cargo
          output-file-path: output.txt
          gh-pages-branch: main
          gh-repository: github.com/mbrobbel/narrow-benchmark-results
          benchmark-data-dir-path: .
          github-token: ${{ secrets.BENCHMARK_RESULTS }}
          auto-push: true
          comment-on-alert: true
          alert-comment-cc-users: "@mbrobbel"
